.DS_Store
CMakeLists.txt.user
*.autosave
.idea/
*.otf
*.node

/lib/
/libnode/
/build/
/include/
/jslib/node_modules/silkedit/node_modules/
/jslib/node_modules/silkedit/build/
/yaml-cpp-*
/packages/node_modules/vim
/packages/node_modules/default/node_modules
