[submodule "vendor/uchardet"]
	path = vendor/uchardet
	url = https://github.com/silkedit/uchardet.git
	branch = msvc_build
	ignore = dirty
[submodule "vendor/Onigmo"]
	path = vendor/Onigmo
	url = https://github.com/k-takata/Onigmo.git
	ignore = dirty
[submodule "vendor/breakpad"]
	path = vendor/breakpad
	url = https://chromium.googlesource.com/breakpad/breakpad
	ignore = dirty
[submodule "vendor/npm"]
	path = vendor/npm
	url = https://github.com/npm/npm.git
