language: cpp
compiler: clang
os:
- osx
osx_image: xcode7.3
node_js: '6.4'
env:
  global:
  - QTDIR=/usr/local/opt/qt5
  - PATH=$QTDIR/bin:$PATH
  - COMMIT=$TRAVIS_COMMIT
  - secure: jeteZSPQmKTFHYcALI1BlPfJbsx7eWecDQ46Kut2eaCD44qMaX1Oe6KMtgxMRiSG8g/qmFsxskoBGdBUIbt8K6mbtsrgB+422g9xCgAmJj7S4Ls0wDIcbWXlpkyfnnY2elwd1kH8m0tTwPr7e4Pp/2vNctbEv0HWrmiIlA2vhiQx3KJ+BphGJZWzm/iyNQyJN2stHXPSZ4bUXUHyZMC6CHgpLlKEDwpjOQQf/a+C+eghyGB2qUvyUBtV86z8BN4MLEkyKtB1iO/zWyJ4no50dL5tEv5Uwm7hR9j441UGxuW/hmH2kfPWujANexgk64SUV3hnRGKbIxBrNEbTvNGia5uRgZlZ3vcvWIKO6egwKaI5mnyqany5EaiefP2/Jgs/qdga9gMVekSdJCpHNmA5rAvQaMLWxJx7kEWN5v8zq0rPpFI+NmPgx6MikKZrIEAc3fKVB7tylzFYQyhvWCLP2zhPPsfWSL444OKDbb7NGAloRQE4ier7i3uDKcjBfFOMnOdFM51qRs6JrdQT4QJbfiziiQ9JRxQ2zYe0at36j8Cz9Yhh2/pZQNgK1D9yEqEhqE6Hd4Rj+x1KXo9D9YS3C6vxcdSZrEL7YzkyiwS9Bowl4osprFqCz0tFfBYzouCz9bfUeWnybdqScdiQkwvMEQmJ3oL6/SK0aVhxcKkN1mw=
  - secure: AOUMEZRGLx4n89O5kr+v9Bi/T3uuKYJ9bvH5WPMfNBKSt2h8BAcV9msco39rezuQhjAtcyKYDI9ecbsM4q0x3ill/sHjtbNufnEN+WmG4Jk3y5AjnToL67azRAgxpbvOphNUDKfuSm4bJJT2n2n8+nzORbr3Eyi3jiQCzF+Ew8/a3sJdFFf1aFb3t72RVTL1sW8ufzWnWrdo3ljh61N+ouPArucYeia7ih4PE2yj3zk4jzDRkuyKeZtgXLqZ8aeSpyKdSRKb8/B+aX/293VBuRJAx2nrB8RPW18b+yRtRaw1biYhUBJ1AIiEsBqO0FEU/Ddip2ZhODf6RWL1FpVGqlhLg9bX17lgNoBrpu9f6p2CGYu/Addw2JmJms9VteK7mG3Aavj8CXnELGBK08PTzQNnjpCavppVhjFxouNXa2kXZnBM7hXHyDDi9zuJclp80beGm/FLQtBJGX7ODpOUxvzSrgvXSy5d6G+O3DhjZnuemWZO5m+Iu5FbUFcN7uGJSfirbBO8Re34i+URPUhpU2rkDOejAc2izgxLg//WbyTAbIKiwlkmP2ZJL13QFcEYciVsQA7Vtme8XG0/ucxQ49kYJsqnOegQBgm+3yM4ZRl4r0Wzfpdc8bqsvYGcJNY/yN/SWN3eK3sb9dOsLHOO9PPMwgsESM8SpJtUNlZ+n4E=
  - secure: Eeo+LOou/0kg6bZQJxCB8wJRoE6SAPF2ktjnO0DAxzRHuT81nA8/bMsoiUEerzL0mgo7Fv8rDuzqbcPmTcNjTDlP3Oxalg92Lzq+sH/3TeSzi/ByPW+mS/cPpZ0bnQX8devmqGY8feVjP3hQ8akiuUHldhSwaNe913BpLYDlNjoWdldR0/+Pk4v3db24tIZOcDCW6ABjfkfNrASfGbmvUs0y+Fy/gonXgfTfv/8ea76+1P1O4C6Fgv3WUFXKRtF+nsGMDOhCCHoEY2jMgkBhQDgzw7SOMV9LIOCXyZGih/dGFvqfiGPZlaj6WcfXNhti2O9uT/jef3J78Vi1oZY4gxVTnzoWbybFXQ+XX461jM76RTOOIq7O0n0DAjhTITxf5+aKShRJRozn7hQ3tnakERFMXOD6tb9QTslzKSi6hbjbJ6DbHiur5VQd03Bh5AY8P9ynC8GBQFiWQQS9sTMFPSTCmPOAHViaQQZt95e1sl0UdNsuG0q+JNqeadyeiuCHzMIQnilZc+Y5m9+uWp9fzjNPXlWrTeJo1O8NsKz8Sx0xY4g2C56tVnkhRHyFMoJdAKfBwTB+89Yb+M7rHvXf9zPfRd+ORyWroaBypevlIhb5c1rxSfjWVckKnhZxqtKJ0ejcdcBn7ZkVj/vQeMkMX7mvRKAmWNwN4Y/mrD7smq0=
  - secure: xcfPOeR+4vbB4nV+DT6dlnwHTx8zGIs15P5Ce34q8+8rOLw+85qAAiU9Uc4gcHnZBTefu1/4l8cvhFmlIKLnpEcZ/5vqXD6dSaRHd55XkHa8rTUI1HGf3TWBHmpICH+C4liAUP6hne37LqW6benJsz7e5vSoMQFrOjvgMDh1IXxJmuusJmot5odm7D8WQXWzm/2KoLWeRkSMiXrlIpnLGe0lFpKRokQ0mk/gq2juQKD5WBGZjF4WMhRECv82NzgPuvPL7yoSNTELIfbM2GOq9FxzkfStynx//1rdyAklDogBZPXzuIvtobws1oeN0mvPf+rhhlfDJ8LrpyAIDyvO/qK2RAW+Ome9e4cEQVl9OJDXmuwXrKBb7jjTh7JXDVjn4uRKQq/vr4xgWxiH8jNf8ksv2Ms0hw6ZW4inHbJBqJrzQ5iT3NOgxmoo3cn3fzAw1f4YoZswPLkakjQ6Z/qADXkQMFL5b8KR1+kUJxmHOWnwhz5xwSoszVtlHmyQNN0AoYIKzPzu6yBClXm681rf1vmTWywWRQRpkU7SpgA8ToCUPeMZhLnA+kxrQ8gFqm2Os4YBzbUlw9ioa6IuBCiDOUuxLO1kSWSxbtuUnhqamPCtleOqOQRnwtfF0sy5bmMVnjEz6vfTJOdpgYvTHA4U3TqjQr4/UhL2spUQfJYbGao=
before_install:
- openssl aes-256-cbc -K $encrypted_ea3534b93422_key -iv $encrypted_ea3534b93422_iv
  -in .travis/secrets.tar.enc -out .travis/secrets.tar -d
- tar xvf .travis/secrets.tar -C ./.travis
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then sudo security import ./.travis/travis.p12
  -k /Library/Keychains/System.keychain -P ${KEY_PASSWORD} -T /usr/bin/codesign; fi
install:
- pip install conan
- brew install ninja qt5
script:
- "./run resolve"
- npm run minify
- "./run build"
- if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then ./run make_installer --sign ${CODE_SIGN_IDENTITY};
  else ./run make_installer; fi
- "./run test"
