platform:
  - x64
  - x86

environment:
  global:
    MSYS2_ROOT: C:\msys64
    MSYS2_PATH_TYPE: inherit
    BOOST_ROOT: C:\Libraries\boost_1_60_0
    PYTHON: C:\Python27-x64
    PFX_PASSWORD:
      secure: kN3ZXrBRGom0BBeli4F9TQ==
    my_secret:
      secure: 7FTxgSibgJumWQq8WvefKA==
    BUGSPLAT_URL:
      secure: qrZXrg1X3NvaF8M0ggKhDtI8V3I6Tet1IJkhc3Ia9BigafOoJRAatd2YDEKCril/DFTKKmeMjBSStRYzFDbYled3MeRZ9GDICi8ofgrECXI=
    BUGSPLAT_SYMBOL_URL:
      secure: qrZXrg1X3NvaF8M0ggKhDtI8V3I6Tet1IJkhc3Ia9BigafOoJRAatd2YDEKCril/O2uTqatDVfQjoW8qk69o0wpk7ktAc5+1gnPw6dTCUIyypT2xXtNnidEPiNbH9lkS

init:
  - 'echo system architecture: %PLATFORM%'
  - 'set COMMIT=%APPVEYOR_REPO_COMMIT%'

install:
  - 'set PATH=%PYTHON%\Scripts;%PATH%'
  - appveyor-retry choco install -y InnoSetup
  - npm install -g npm
  - 'git clone https://chromium.googlesource.com/external/gyp & cd gyp & %PYTHON%/python setup.py install & cd ..'
  - 'pip install conan'
  - '%MSYS2_ROOT%\usr\bin\bash -lc "pacman -S unzip --noconfirm && cd \"$OLDPWD\" && ./run resolve && npm run minify"'
  - if not defined APPVEYOR_PULL_REQUEST_NUMBER nuget install secure-file -ExcludeVersion & secure-file\tools\secure-file -decrypt .appveyor\comodo.pfx.enc -secret %my_secret%

before_build:
  - if %PLATFORM%==x64 (set "QTDIR=C:\Qt\5.6\msvc2015_64" & set NUGET_ARCH=x64)
  - if %PLATFORM%==x86 (set "QTDIR=C:\Qt\5.6\msvc2015" & set NUGET_ARCH=ia32)
  - 'set PATH=%QTDIR%\bin;%PROGRAMFILES(x86)%\Inno Setup 5;%PATH%'

build_script:
  - '%MSYS2_ROOT%\usr\bin\bash -lc "cd \"$OLDPWD\" && ./run build && ./run make_installer"'

after_build:
  - if not defined APPVEYOR_PULL_REQUEST_NUMBER "%PROGRAMFILES(x86)%\Microsoft SDKs\Windows\v7.1A\Bin\signtool" sign /f .appveyor\comodo.pfx /p %PFX_PASSWORD% /d "SilkEdit" /t http://timestamp.comodoca.com/authenticode "build\Release\Releases\SilkEdit-%NUGET_ARCH%-Setup.exe"

test_script:
  - '%MSYS2_ROOT%\usr\bin\bash -lc "cd \"$OLDPWD\" && ./run test"'
