#define VER_VERSION             0,1,1
#define VER_VERSION_STR         "0.1.1\0"

IDI_ICON1               ICON    DISCARDABLE     "silkedit.ico"

1 VERSIONINFO
FILEVERSION VER_VERSION
PRODUCTVERSION VER_VERSION
{
  BLOCK "StringFileInfo"
	 {
		 BLOCK "040904E4"
		 {
			 VALUE "CompanyName", "SilkEdit dev team"
			 VALUE "FileVersion", VER_VERSION_STR
			 VALUE "FileDescription", "SilkEdit"
			 VALUE "LegalCopyright", "Copyright (C) 2014-2015 Shinichi Katayama"
			 VALUE "OriginalFilename", "silkedit.exe"
			 VALUE "ProductName", "SilkEdit"
			 VALUE "ProductVersion", VER_VERSION_STR
		 }
	 }
  BLOCK "VarFileInfo"
	 {
		 VALUE "Translation", 0x0409, 1252 //language codes
	 }
}
