/* Tabbar */

QPlainTextEdit {
  border: 0;
}

QTabWidget::pane {
}

QTabWidget::tab-bar {
    left: 0px;
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab {
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    min-width: 18ex;
    padding: 8px;
}

QTabBar::tab:first:selected {
    margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
}

QTabBar::tab:last:selected {
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:only-one {
    margin: 0; /* if there is only one tab, we don't want overlapping margins */
}

QTabBar::close-button {
    subcontrol-position: right;
}


/* Toolbar */

QToolBar {
    background-color: transparent;
    spacing: 2px; /* spacing between items in the tool bar */
}

QToolBar::handle {
    width: 0;
    height: 0;
}

QToolButton {
    border: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-color: transparent;
    padding: 3px;
    height: 16px;
    width: 16px;
}

QToolButton:hover {
    border-color: #6D6D6D;
    background-color: #BABABA;
}