#%1 {
  background-color: %2;
}

#%1 #output {
  margin: 2px 2px 2px 0px;
  border: 1px solid transparent;
  border-radius: 2px;
}

#%1 #input {
  margin: 0 2px 2px 0px;
  padding: 0 0 0 2px;
  border: 1px solid transparent;
  border-radius: 2px;
}
