{
	CFBundleName = SilkEdit;
	CFBundleIdentifier = "com.silksmiths.SilkEdit";
	"CFBundleDevelopmentRegion" = English;
	CFBundleExecutable = SilkEdit;
	"CFBundleInfoDictionaryVersion" = "6.0";
	CFBundlePackageType = APPL;
	"LSMinimumSystemVersion" = "10.7";
	"LSApplicationCategoryType" = "public.app-category.developer-tools";
	CFBundleIconFile = "silkedit.icns";
	"CFBundleDocumentTypes" = (
		{
			CFBundleTypeName = Document;
			LSItemContentTypes = (
				"public.data",
			);
			LSHandlerRank = Alternate;
			CFBundleTypeRole = Editor;
		},
		{
			LSItemContentTypes = (
				"public.xml",
			);
			LSHandlerRank = Alternate;
			CFBundleTypeRole = Editor;
		},
	);
}
